<div class="mx-5 ">
  <div class="row">
    <div class="col-12">
      <div class="home-csv  py-3  position-relative">
        <div class="home-csv-list d-flex align-items-center ">
          <div class="col-9">
            <div class="home-csv-list-item  p-4 ">
              <h4 class="fs-18px m-0 color-text fw-bold">
                CSV
              </h4>
              <h4 class="fs-32px mt-1  fw-bold text-colorT ">خلق ارزش مشترک</h4>
              <p class="fs-16px mt-5  ">فن‌دالان با مجوز رسمی از فن بازار ملی جمهوری اسلامی ایران به شرکت‌ها و بنگاه‌های
                اقتصادی کمک می‌کند تا فعالیت‌های فرهنگی خود را در قالب مسئولیت اجتماعی به روش شرکت دانش‌بنیان تبدیل کنند و
                از مزایای آن بهره‌مند شوند.</p>
              <button class="btn-cvs fw-bold">
                اطلاعات بیشتر
                <i class="fa-solid fa-angle-left all-product-icon p-2 "></i>

              </button>
            </div>

          </div>

          <div class="home-csv-list-item-image position-absolute ">
            <img src="/img/123.webp" alt="img">
          </div>
        </div>
      </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
  </div>
</div>
