<div class="m-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="home-csv  py-3  position-relative">
          <div class="home-csv-list d-flex align-items-center ">
            <div class="col-lg-9 col-12  ">
              <div class="home-csv-list-item text-center text-lg-end pb-lg-0  p-2 p-lg-5 ">
                <h4 class="fs-18px m-0 color-text fw-bold">
                  CSV
                </h4>
                <h4 class="fs-32px mt-1  fw-bold  ">خلق ارزش مشترک</h4>
                <p class="fs-16px mt-3 text-justify">فن‌دالان با مجوز رسمی از فن بازار ملی جمهوری اسلامی ایران به شرکت‌ها و بنگاه‌های
                  اقتصادی کمک می‌کند تا فعالیت‌های فرهنگی خود را در قالب مسئولیت اجتماعی به روش شرکت دانش‌بنیان تبدیل کنند و
                  از مزایای آن بهره‌مند شوند.</p>
                <button class="btn-cvs fs-18px fw-bold  mt-5">
                  اطلاعات بیشتر
                  <i class="fa-solid fa-angle-left all-product-icon p-2 "></i>
                </button>
                <div class="mt-3 d-lg-none">
                  <img class="w-50" src="/img/MMM.png" alt="img">
                </div>
              </div>

            </div>

            <div class="home-csv-list-item-image position-absolute d-none d-lg-block">
              <img src="/img/123.webp" alt="img">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

