.home-csv{
  background-color: #d7f2f4;
  border-radius: 24px;
  width: 92%;
}
.color-text {color: #ff4d1e}
.text-colorT{
  color: #b38c3c;
}
.fa-angle-left{
  background-color: #2ba8b6;
  color: white !important;
  width: 25px;
  height: 25px;
  padding: 10px;
  display: flex;
  align-items:  center;
  justify-content: center;
  border-radius: 50%;
}
.btn-cvs{
  background-color: white;
  border: 1px solid #2ba8b6;
  color: #2ba8b6;
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  border-radius: 15px;
  align-items: center;
  gap: 20px;
}
.home-csv-list-item-image{
  left: -100px;
}
