<div class="container mb-5">
  <div class="row align-items-center">
    <div class="col-lg-4 col-12">
      <div class="home-companies">
        <div class="home-companies-title">
          <h4 class="fs-18px mt-1  fw-bold  color ">
            شرکت خلاق شوید...
          </h4>
        </div>
        <div class="home-companies-list">
          <div class="home-companies-list-item">
            <div class="home-companies-list-item-body">
              <h4 class="fw-bold fs-32px">
                اعتباربخشی شرکت‌های خلاق
              </h4>
              <p class="fs-16px text-justify my-5 ">
                اگر درخواستی برای دریافت اعتبارنامه شرکت خلاق دارید، از این طریق می‌توانید تمام خدمات، تسهیلات، شاخص‌ها
                و شرایط آن را بررسی کرده و برای دریافت این اعتبارنامه اقدام کنید.
              </p>
            </div>
            <div class="home-companies-list-item-footer">
              <button class="btn-cvs fw-bold fs-18px">
                مشاهده شرایط

                <i class="fa-solid fa-angle-left all-product-icon p-2 "></i>

              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-12">
      <img class="w-100" src="/img/header-mbadi.webp" alt="mbadi">
    </div>
    <div class="col-lg-4 col-12 ">
      <div class="home-companies">
        <div class="home-companies-title">
          <h4 class="fs-24px  ">
            تا کنون
            <span class="color">
              27
            </span>
            اعتبارنامه شرکت خلاق
            صادر شده است.
          </h4>

        </div>
        <div class="home-companies-list">
          <div class="home-companies-list-item">
            <div class="">
              <div class="d-flex gap-2 align-items-center ">
                <img src="/img/medal-star.svg" alt="star">

                <h4 class="color m-0 fs-16px py-5 fw-bold">
                  آخرین اعتبارنامه صادر شده
                </h4>
              </div>

            </div>
            <div class="home-companies-list-item-bodyc p-3">
                <div class="d-flex align-items-center">
                  <img class="home-companies-list-item-image" src="/img/U0i02BW56qoJeK0TNA1ETSqoxCSRkgx0IHOPFYdF.jpg"
                       alt="U0i02BW56qoJeK0TNA1ETSqoxCSRkgx0IHOPFYdF">
                  <div class="d-flex flex-column w-100 pe-2 ">
                    <h4 class="fs-16px  ">نوآوران اندیشه ساز خلاق چیستا</h4>
                    <div class="d-flex justify-content-between">
                      <p class="m-0 fs-12px"> شناسه ملی:</p>
                      <p class="m-0 fs-12px">14014466910</p>

                    </div>

                  </div>



                </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
