<div class="container mt-5">
  <div class="row">

    <div class="col-12">


      <app-shared-slider
        [products]="courses">
      </app-shared-slider>

    </div>
    <div class="col-12 my-3">
      <div class="d-flex justify-content-between">

        <p class="fs-16px">
          مجموعا
          {{ (151).toLocaleString('fa-IR') }}
          مورد
        </p>
        <div class="all-product ">
          <button class="all-product-btnA  d-flex justify-content-between gap-2 fw-bold fs-18px">
            همه محصولات
            <i class="fa-solid fa-angle-left all-product-icon p-2"></i>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="home-product">
  <div class="home-product-title">

  </div>
  <div class="home-product-list">
    <div class="home-product-list-item">
      <div class="home-product-list-item-image">

      </div>
      <div class="home-product-list-item-body">

      </div>
      <div class="home-product-list-item-footer">

      </div>
    </div>
  </div>
</div>
