<div class="container my-5">
  <div class="row">

    <div class="col-lg-3 col-12 col-sm-4 ">
      <!--      <owl-carousel-o [options]="customOptions">-->

      @for (item of slides; track item) {
        <!--          <ng-template carouselSlide>-->
        @if (item.title) {
          <div class="home-packages w-100 ">

            <div class="home-packages-list">
              <div class="home-packages-list-item ">
                <div class="home-packages-list-item-image p-3">
                  <img class="home-packages-list-item-image-img w-100"
                       [src]="item.urlImg"
                       [alt]="item.title">
                </div>
                <div class="home-packages-list-item-body  ">

                  <h4 class="fs-16px  fw-bold pb-3 pt-1 p-3">
                    {{ item.title }}
                  </h4>

                  <div class="d-flex gap-2 align-items-center py-2 px-3 ">
                    <img class="home-packages-list-item-body-icon"
                         [src]="item.icon"
                         [alt]="item.title">
                    <p class="fs-12px ">
                      {{ item.location }}
                    </p>
                  </div>
                  <div class="home-packages-list-item-body-box-date d-flex gap-2 align-items-center py-2  p-3">
                   <div class="icon-date">
                     <svg
                       xmlns="http://www.w3.org/2000/svg"
                       width="32"
                       height="32"
                       viewBox="0 0 32 32"
                       fill="none">

                       <svg
                         xmlns="http://www.w3.org/2000/svg"
                         width="32"
                         height="32"
                         viewBox="0 0 32 32"
                         fill="none">

                         <path
                           d="M19.1666 10.3733V9.33325C19.1666 9.05992 18.94 8.83325 18.6666 8.83325C18.3933 8.83325 18.1666 9.05992 18.1666 9.33325V10.3333H13.8333V9.33325C13.8333 9.05992 13.6067 8.83325 13.3333 8.83325C13.06 8.83325 12.8333 9.05992 12.8333 9.33325V10.3733C11.0333 10.5399 10.16 11.6133 10.0267 13.2066C10.0133 13.3999 10.1733 13.5599 10.36 13.5599H21.64C21.8333 13.5599 21.9933 13.3933 21.9733 13.2066C21.84 11.6133 20.9666 10.5399 19.1666 10.3733Z"
                           fill="#22C55E" />

                         <path
                           opacity="0.5"
                           d="M21.3333 14.5601C21.7 14.5601 22 14.8601 22 15.2267V19.3334C22 21.3334 21 22.6667 18.6667 22.6667H13.3333C11 22.6667 10 21.3334 10 19.3334V15.2267C10 14.8601 10.3 14.5601 10.6667 14.5601H21.3333Z"
                           fill="#22C55E" />

                       </svg>


                     </svg>
                   </div>
                    <div class="">
                      <p class="fs-10px fw-bold home-packages-list-item-body-date ">در حال برگزاری</p>
                      <p class="fs-14px home-packages-list-item-body-date">
                        {{ item.date }}
                      </p>
                    </div>

                  </div>


                </div>
                <div class="home-packages-list-item-footer">
                  <div class="d-flex justify-content-between p-3 py-2">
                    <div class="d-flex gap-2 align-items-center">
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="">

                        <circle
                          cx="16"
                          cy="16"
                          r="16"
                          fill="#FF4D1E"
                          fill-opacity="0.1">
                        </circle>

                        <path
                          opacity="0.4"
                          d="M19.3335 21.6667H12.6668C10.6668 21.6667 9.3335 20.6667 9.3335 18.3334V13.6667C9.3335 11.3334 10.6668 10.3334 12.6668 10.3334H19.3335C21.3335 10.3334 22.6668 11.3334 22.6668 13.6667V18.3334C22.6668 20.6667 21.3335 21.6667 19.3335 21.6667Z"
                          fill="#FF4D1E">
                        </path>

                        <path
                          d="M16 18C17.1046 18 18 17.1046 18 16C18 14.8954 17.1046 14 16 14C14.8954 14 14 14.8954 14 16C14 17.1046 14.8954 18 16 18Z"
                          fill="#FF4D1E">
                        </path>

                        <path
                          d="M11.6665 18.1667C11.3932 18.1667 11.1665 17.94 11.1665 17.6667V14.3334C11.1665 14.06 11.3932 13.8334 11.6665 13.8334C11.9398 13.8334 12.1665 14.06 12.1665 14.3334V17.6667C12.1665 17.94 11.9398 18.1667 11.6665 18.1667Z"
                          fill="#FF4D1E">
                        </path>

                        <path
                          d="M20.3335 18.1667C20.0602 18.1667 19.8335 17.94 19.8335 17.6667V14.3334C19.8335 14.06 20.0602 13.8334 20.3335 13.8334C20.6068 13.8334 20.8335 14.06 20.8335 14.3334V17.6667C20.8335 17.94 20.6068 18.1667 20.3335 18.1667Z"
                          fill="#FF4D1E">
                        </path>
                      </svg>

                      <p class="fs-16px fw-bold">
                        {{ item.price }}
                      </p>

                    </div>

                    <button class="btn-price  gap-3 fw-bold fs-14px">
                      ثبت نام
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        }
        <!--          </ng-template>-->
      }

      <!--      </owl-carousel-o>-->

    </div>

    <div class="col-12 mt-2 mt-lg-0">
      <div class="d-flex justify-content-center">
        <button class="btn-All p-2 gap-3 fw-bold">
          همه رویدادها
          <i class="fa-solid fa-angle-left all-product-icon p-2 "></i>
        </button>
      </div>
    </div>
  </div>
</div>

