.btn-All{
  border: 1px solid #FF4D1E;
  color: #ff4d1e;
  border-radius: 16px;
  box-shadow: 2px 2px 4px #c1c1c14d;

  display: flex;
  justify-content: center;
  align-items:center ;
}
.fa-angle-left{
  background-color: #FF4D1E;
  color: white !important;
  width: 25px;
  height: 25px;
  padding: 10px;
  display: flex;
  align-items:  center;
  justify-content: center;
  border-radius: 50%;
}
