<h2>{{ title() }}</h2>


<swiper-container
  class="w-100"
  space-between="20"
  breakpoints='{
    "0": {
      "slidesPerView": 1
    },
    "576": {
      "slidesPerView": 2
    },
    "768": {
      "slidesPerView": 2
    },
    "992": {
      "slidesPerView": 3
    },
    "1200": {
      "slidesPerView": 4
    }
  }'
>

  @for (product of products(); track product.id) {




    <swiper-slide>
      <div class="home-product">
        <div class="home-product-title">
        </div>
        <div class="home-product-list">
          <div class="home-product-list-item">
            <div class="home-product-list-item-image">
              <img class="home-product-list-item-image-img"
                   [src]="product.image"
                   [alt]="product.title">
            </div>
            <div class="home-product-list-item-body p-4">
              <p class="home-product-list-item-body-subtitle fw-bold fs-12px"> .{{product.subtitle}} </p>
              <h4 class="home-product-list-item-body-title mb-4 text-over o2">{{ product.title }}</h4>
              <h4 class=" home-product-list-item-body-h4 p-2 mb-2 text-over o1">{{ product.category }}</h4>
            </div>
            <div class="home-product-list-item-footer p-4 pt-0">
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="home-product-list-item-footer-boxText p-2  ">
                  غیر دیجیتال
                </h4>
                <i class="fa-solid fa-arrow-left home-product-list-item-footer-icon p-2 "></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>


  }

</swiper-container>
