<div class="container my-4">
  <div class="row align-items-center d-flex">
    <div class="col-1">
      <img class="logosite " src="/img/logoTitle.svg">
    </div>
    <div class="col-6">
        <ul class="ule m-0 d-flex gap-4">
          <li class="menu-item d-flex align-items-center gap-1">
            <img class="icon " src="/img/homeHover.svg" alt="icon">
            <a class="Link-nav" href="/">خانه </a>
          </li>
          <li class="menu-item d-flex align-items-center gap-1">
            <img class="icon " src="/img/shopping-bagHover.svg" alt="icon">
            <a class="Link-nav" href="/">محصولات </a>
            </li>
          <li class="menu-item d-flex align-items-center gap-1">
            <img class="icon " src="/img/buildingsHover.svg" alt="icon">
            <a class="Link-nav" href="/">شرکت‌ها</a>
            </li>
          <li class="menu-item d-flex align-items-center gap-1">
            <img class="icon " src="/img/CSVHover.svg" alt="icon">
            <a class="Link-nav" href="/">csv </a>
            </li>
          <li class="menu-item d-flex align-items-center gap-1">
            <img class="icon " src="/img/medal-starHover.svg" alt="icon">
            <a class="Link-nav" href="/">اعتباربخشی </a>
            </li>
          <li class="menu-item d-flex align-items-center gap-1">
            <img class="icon " src="/img/33Hover.svg" alt="icon">
            <a class="Link-nav" href="/"> قرارداد 3جانبه </a>
            </li>
        </ul>
      </div>
    <div class="col-2">

    </div>
    <div class="col-3">
      <div class="d-flex align-items-center justify-content-end gap-1">
        <div class="Btn-sabt">
          <img src="/img/AddProduct.svg" alt="AddProduct">
          <a class="color-btn fs-14px" href="/">
            ثبت محصول
          </a>

        </div>
        <div class="btnA p-3">

          <img class="user-square" src="/img/user-square.svg">

          <a href="/" class="fs-14px text-black">
            ورود / عضویت
          </a>
        </div>
      </div>

    </div>
  </div>
</div>


