<div class="bg-footer pt-5 ">
  <div class="container">
    <div class="row">
      <div class="col12 text-center">
        <img src="/img/logoTitle.svg" alt="">
      </div>
      <div class="col-12  text-center my-3 ">
        <div class="d-lg-flex justify-content-center gap-4 w-100 ">
          <a href="/" class="Link-footer px-2">
            خانه
          </a>
          <a href="/" class="Link-footer px-2">
            محصولات
          </a>
          <a href="/" class="Link-footer px-2">
            شرکت‌ها
          </a>
          <a href="/" class="Link-footer px-2">
            csv
          </a>
          <div class="d-lg-none"></div>
          <a href="/" class="Link-footer px-2">
            اعتباربخشی
          </a>
          <a href="/" class="Link-footer px-2">
            قرارداد 3جانبه
          </a>
        </div>
      </div>
      <div class="col-12 ">
        <div class="d-lg-flex my-4 my-lg-0   align-items-center justify-content-center gap-5 border-bottom-box py-3">
          <div class="d-flex  align-items-center gap-2">
            <img class="m-0" src="/img/Group1000006162.svg" alt="Group1000006162">
            <p class="m-0">قم: خیابان معلم، خیابان جعفر طیار، فرعی سه، مرکز نوآوری اشراق</p>
          </div>

          <div class=" d-lg-flex my-4 my-lg-0  justify-content-between ">
            <div class="d-flex align-items-center gap-2">
              <img src="/img/Group1000006163.svg" alt="Group1000006163">
              <p class="m-0">025 31154110</p>
            </div>

            <div class="d-flex my-4 my-lg-0  align-items-center gap-2">
              <img src="/img/Group1000006164.svg" alt="Group1000006163">
              <p class="m-0">0993 206 5159</p>
            </div>


            <div class="d-flex my-4 my-lg-0  align-items-center gap-2">
              <img src="/img/Group1000006165.svg" alt="Group1000006163">
              <p class="m-0">noavari@dte.ir</p>
            </div>
          </div>

        </div>

      </div>
      <div class="col-12 ">
        <div class="d-flex align-items-center gap-3 mt-3 my-3">
          <img src="/img/Group199054.svg" alt="Group199054">
          <p class="m-0">
            1403 © تمامی حقوق مادی و معنوی این وب‌سایت متعلق به
            <span class="color">
              «خانه خلاق و نوآوری اشراق»
            </span>
            می‌باشد.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="box-bottm">

</div>
