.bg-footer{
  background-color: #d7f2f4;
  border-radius: 48px 48px 0 0;
  cursor: pointer;
}
.Link-footer{
  color: black;
}
.border-bottom-box{
  border-bottom:  1px solid #2BA8B6;
}
.color{
  color: #2BA8B6;
}
.box-bottm{
  background-color: #2BA8B6;
  height: 20px;
  width: 100%;
}
