<div class="home-banner">
  <div class="margin">
    <div class="container margin">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-12">
          <div class="row align-items-center">
            <div class="col-sm-5 col-8  ">
              <img class="w-100" src="/img/Group10000061901.svg" alt="Group">
            </div>
            <div class="col-sm-7 col-12 mt-3 mt-sm-0    ms ">
              <a href="/">
                <img class="w-75 w-lg-full" src="/img/Group1000006737.svg" alt="Group1000006737">
              </a>
              <a href="/" class="mt-2">
                <img class="w-75 w-lg-full" src="/img/Group1000006738.svg" alt="Group1000006738">
              </a>
            </div>
            <div class="col-12 mt-5">
              <p class="text-justify text-black fs-18px">
                اینجا محصولات و خدمات خلاق تبادل می‌شود.
                <br>
                خریداران و فروشندگان محصولات و صنایع خلاق، اینجا همدیگر را پیدا می‌کنند.
                <br>
                اگر محصول یا خدمت خلاق دارید، اینجا ثبت کنید و به فروش برسانید.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 d-none d-lg-block ">
          <div class="d-flex justify-content-center">
            <img class="img-banner" src="/img/Group1905521 (2).svg" alt="Group1905521">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
