.h4 {
  color: #2ba8b6;
}

.home-company{
  position: relative;


  &-list {


    &-item {
      width: 100%;
      background-color: #ffffff;
      border-radius: 16px;
      border: 1px solid #E6E6E7;
      aspect-ratio: 9/4;
      position: relative;


      &-image{
        &-icon{
          border-radius: 10px;
          background-color: white;
          width: 70px !important;
          position: absolute;
          top: 0;
          box-shadow: 0 2px 4px #c1c1c14d;
          border: 1px solid #E6E6E7;
          aspect-ratio: 1/1;
          right: 25px;
          padding: 10px;
          z-index: 10;

        }
      }

      &-body {



      }
    }
  }
}
.all-product{
  &-btnA{
    border: 1px solid #FF4D1E;
    color: #ff4d1e;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items:center ;
  }
  &-icon{
    background-color: #FF4D1E ;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

}
.text{
  position: absolute;
  bottom: 0;
  right:  0;
  color: #30a8b5;
}
