<div class="m-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 my-2 my-lg-0 ">
        <div class="home-tabligR">
          <div class="home-tabligR-list  d-flex align-items-lg-center flex-column flex-lg-row ">
            <div class="home-tabligR-list-item-image order-1 order-lg-0 p-0 ">
              <img src="/img/Group1000006304.svg" alt="">
            </div>
            <div class="home-tabligR-list-item text-center p-4 order-0 order-lg-1  ">
                <h4 class="fs-18px py-2">
                  آیا محصول یا خدمت خلاقانه‌ای در حوزه صنایع
                  <br>
                  خلاق دارید؟!
                  <br>
                  آن را ثبت کنید.
                </h4>

              <div class="d-flex gap-3 justify-content-center align-items-center ">
                <h4 class="fs-32px py-2 fw-bold m-0">ثبت محصول</h4>
                <i class="fa-solid fa-angle-left all-product-icon p-2 "></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 my-2 my-lg-0">
        <div class="home-tabligL">
          <div class="home-tabligR-list d-flex align-items-lg-center flex-column flex-lg-row  ">
            <div class="home-tabligR-list-item-image order-1 order-lg-0 p-0">
              <img src="/img/Maskgroup.svg" alt="">
            </div>
            <div class="home-tabligR-list-item text-center ms-4  order-0 order-lg-1 p-3 plg-0 ">
              <h4 class="fs-18px py-1">
                نیازهای فرهنگی و اجتماعی سازمان را ثبت کنید و با
                <br>
                اطمینان خرید خلاقانه داشته باشید.

              </h4>
              <div class="d-flex gap-3 justify-content-center align-items-center">
                <h4 class="fs-32px py-1 fw-bold m-0"> نیازها و قرارداد 3 جانبه </h4>
                <i class="fa-solid fa-angle-left all-product-icon p-2 "></i>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

