.home-tabligR{
  background-color: #dbfacf;
  border-radius: 20px;
}
.home-tabligL{
  background-color: #fbeccd;
  border-radius: 20px;
}
.fa-angle-left{
  background-color: black;
  color: white !important;
  width: 35px;
  height: 35px;
  padding: 10px;
  display: flex;
  align-items:  center;
  justify-content: center;
  border-radius: 10px;
}
