<div class="my-5 pb-3  ">
  <div class="container custom-container">
    <div class="row">
      <div class="col-12">
        <h1 class="fs-32px fw-bold text-center">
          مشتریان ما
        </h1>
      </div>
      <div class="col-12 mx-5 px-5 mt-2">
        <owl-carousel-o [options]=" customOptions">


          <ng-template carouselSlide>
            <div class="img-box col ">
              <img class="img" src="/img/VfwMSuiYMneuPioH5j6PE5ifPiUg2AY1im9kPNGb.png" alt="img">
            </div>
          </ng-template>
          <ng-template carouselSlide>

            <div class="img-box col ">
              <img class="img" src="/img/RWeO9mwdTCoJoLt8UmnkWSYXgx3xsD4tnlAoRLnM.png" alt="img">
            </div>
          </ng-template>

          <ng-template carouselSlide>

            <div class="img-box col ">
              <img class="img" src="/img/BhOJGV1ohkvcXaSYqhvvNeoofosJ9BegA91nDvtd.png" alt="img">
            </div>
          </ng-template>

          <ng-template carouselSlide>


            <div class="img-box col ">
              <img class="img" src="/img/wI9Wvw5iI5E0Pv35XmkzrHXrRF8axLh1K6n7zh6o.png" alt="img">
            </div>
          </ng-template>

          <ng-template carouselSlide>


            <div class="img-box col ">
              <img class="img" src="/img/PInIqvJbR2ZdECWzCyDP208IYKvUTkKysl7hTCNo.png" alt="img">
            </div>

          </ng-template>

        </owl-carousel-o>
      </div>


    </div>
  </div>
</div>
