<div class="pb-5 pt-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="fs-32px fw-bold text-center">
          مشتریان ما
        </h1>
      </div>
      <div class="col-12 my-2">
        <div class="w-100 d-flex gap-2">
          <div class="img-box">
            <img class="w-100" src="/img/VfwMSuiYMneuPioH5j6PE5ifPiUg2AY1im9kPNGb.png" alt="img">
          </div>
          <div class="img-box">
            <img class="w-100" src="/img/RWeO9mwdTCoJoLt8UmnkWSYXgx3xsD4tnlAoRLnM.png" alt="img">
          </div>
          <div class="img-box">
            <img class="w-100" src="/img/BhOJGV1ohkvcXaSYqhvvNeoofosJ9BegA91nDvtd.png" alt="img">
          </div>
          <div class="img-box">
            <img class="w-100" src="/img/wI9Wvw5iI5E0Pv35XmkzrHXrRF8axLh1K6n7zh6o.png" alt="img">
          </div>
          <div class="img-box">
            <img class="w-100" src="/img/PInIqvJbR2ZdECWzCyDP208IYKvUTkKysl7hTCNo.png" alt="img">
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
